@use "../abstracts/variables";

.clickable {
  cursor: pointer;
}

.width-fit-content {
  width: fit-content !important;
}

@media (min-width: variables.$breakpoint-sm) {
  .mobile-show {
    display: none !important;
  }
}

@media (max-width: variables.$breakpoint-sm) {
  .mobile-hide {
    display: none !important;
  }
}