@use '../abstracts/variables' as *;

.card {
  background: $bg-white;
  border-radius: $border-radius;
  box-shadow: $card-shadow;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;

  &--auto-height {
    height: auto;
  }

  &__header {
    padding: $spacing-md $spacing-md $spacing-sm;
  }

  &__body {
    padding: $spacing-sm $spacing-md;
  }
}
