@use "../../styles/abstracts/variables";

.workout-card {
  width: min(400px, 100dvw - variables.$spacing-md * 2);
  margin: 0 auto;
  
  background-color: variables.$bg-white;

  [data-theme='dark'] & {
    background-color: variables.$bg-light;
  }
}

.exercise {
  padding: variables.$spacing-sm 0;

  & > h4 {
    display: inline;
    font-size: variables.$font-size-base;
  }

  &:not(:last-child) {
    border-bottom: 1px solid variables.$border-color;
  }
}

.set-setting-list {
  padding-left: 3em
}