@use "../../../styles/abstracts/variables" as *;

.header {
  display: flex;
  min-height: 48px;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-sm $spacing-md;
  background-color: $bg-white;
  border-bottom: 1px solid $border-color;

  & > h1 {
    font-size: $font-size-xl;
  }
}