@use "../../../styles/abstracts/variables" as *;

.set-setting-form-card {
  background-color: #eee;
  padding: $spacing-md $spacing-md $spacing-sm;
  border-radius: $border-radius;
  margin-bottom: $spacing-sm;
}

.add-set-setting-button {
  width: calc(100% - $spacing-xl * 2);
  margin: 0 $spacing-xl;
}